
project_id = "wdzlruiekcznbcicjgrz"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322

[realtime]
enabled = true

[functions]
[functions.send-registration-email]
verify_jwt = false
[functions.send-contact-email]
verify_jwt = false
