
project_id = "wdzlruiekcznbcicjgrz"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322

[studio]
enabled = true
port = 54323
api_url = "http://localhost:54321"

[auth]
enable_signup = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]

[functions]
[functions.send-registration-email]
verify_jwt = false
