
project_id = "wdzlruiekcznbcicjgrz"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[inbucket]
enabled = true
port = 54324

[auth]
enabled = true
site_url = "http://localhost:3000"

[storage]
enabled = true

[realtime]
enabled = true

[analytics]
enabled = true
port = 54327

[experimental]
pubsub = true

[functions.touristas-ai]
verify_jwt = false
